* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}


/* HEADER */

header {
    background-color: #ff6801;

    /* DEBUG */
    height: 10vh;
    width: 100%;
}

/* /HEADER */

/* MAIN */

/* utility */
.mt {
    margin-top: 2.5rem;
}

/* /uility */

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(100% / 3 - 15px);
    margin-bottom: 3rem;
    position: relative;
}

.card:hover {
    cursor: pointer;
}

/* IMG */
.card .img img {
    max-width: 100%;
}

.img1 {
    position: absolute;
    top: 0;
    left: 0;
}

.card:hover .img1 {
    display: none;
}

/* heart */
.heart {
    position: absolute;
    top: 15px;
    right: 0;
    background-color: white;
    padding: 5px 10px;
}

.heart:hover {
    color: red;
}
/* /heart */


/* TEXT */
.brand {
    font-size: .75rem;
    margin-bottom: .1rem;
}

.title {
    font-size: 0.85rem;
    margin-bottom: 0.1rem;
}

.price {
    font-size: .75rem;
}

.redprice {
    color: red;
    
}

.blackprice {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: line-through;
}

.discount {
    color: white;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 15%;
    padding: 2px 5px;
    font-size: .8rem;
}

.label {
    color: white;
    background-color: green;
    position: absolute;
    left: 12%;
    bottom: 15%;
    padding: 2px 5px;
    font-size: .8rem;
}

.label2 {
    color: white;
    background-color: green;
    position: absolute;
    left: 0;
    bottom: 15%;
    padding: 2px 5px;
    font-size: .8rem;
}


/* /MAIN */


/* FOOTER */

footer {
    background-color: black;

    /* DEBUG */
    height: 12vh;
}

/* /FOOTER */